In [8]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns
%matplotlib inline

In [9]:
import warnings
warnings.filterwarnings('ignore')

In [10]:
data_df =pd.read_csv ('C:\\Users\\USER\\Desktop\\PATASANA\\Car_sales.csv')

# missing value

In [11]:
data_df.isnull().sum()

Manufacturer            0
Model                   0
Sales_in_thousands      0
__year_resale_value    36
Vehicle_type            0
Price_in_thousands      2
Engine_size             1
Horsepower              1
Wheelbase               1
Width                   1
Length                  1
Curb_weight             2
Fuel_capacity           1
Fuel_efficiency         3
Latest_Launch           0
Power_perf_factor       2
dtype: int64

In [12]:
data_df.fillna(method='bfill', inplace=True)

In [13]:
data_df.isnull().sum()

Manufacturer           0
Model                  0
Sales_in_thousands     0
__year_resale_value    7
Vehicle_type           0
Price_in_thousands     0
Engine_size            0
Horsepower             0
Wheelbase              0
Width                  0
Length                 0
Curb_weight            0
Fuel_capacity          0
Fuel_efficiency        0
Latest_Launch          0
Power_perf_factor      0
dtype: int64

In [14]:
data_df.fillna(method='bfill', inplace=True)

In [15]:
data_df.fillna(method='ffill', inplace=True)
data_df.isnull().sum()

Manufacturer           0
Model                  0
Sales_in_thousands     0
__year_resale_value    0
Vehicle_type           0
Price_in_thousands     0
Engine_size            0
Horsepower             0
Wheelbase              0
Width                  0
Length                 0
Curb_weight            0
Fuel_capacity          0
Fuel_efficiency        0
Latest_Launch          0
Power_perf_factor      0
dtype: int64

# view the summary of dataset

In [16]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157 entries, 0 to 156
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Manufacturer         157 non-null    object
 1   Model                157 non-null    object
 2   Sales_in_thousands   157 non-null    float64
 3   __year_resale_value  157 non-null    float64
 4   Vehicle_type         157 non-null    object
 5   Price_in_thousands   157 non-null    float64
 6   Engine_size          157 non-null    float64
 7   Horsepower           157 non-null    float64
 8   Wheelbase            157 non-null    float64
 9   Width                157 non-null    float64
 10  Length               157 non-null    float64
 11  Curb_weight          157 non-null    float64
 12  Fuel_capacity        157 non-null    float64
 13  Fuel_efficiency      157 non-null    float64
 14  Latest_Launch        157 non-null    object
 15  Power_perf_factor    157 non-null    float64
dtypes: float64(12), object(4)
memory usage: 19.8+ KB

In [17]:
data_df.head()

,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor
0,Acura,Integra,16.919,16.360,Passenger,21.50,1.8,140.0,101.2,67.3,172.4,2.639,13.2,28.0,2/2/2012,58.280150
1,Acura,TL,39.384,19.875,Passenger,28.40,3.2,225.0,108.1,70.3,192.9,3.517,17.2,25.0,6/3/2011,91.370778
2,Acura,CL,14.114,18.225,Passenger,42.00,3.2,225.0,106.9,70.6,192.0,3.470,17.2,26.0,1/4/2012,91.389779
3,Acura,RL,8.588,29.725,Passenger,42.00,3.5,210.0,114.6,71.4,196.6,3.850,18.0,22.0,3/10/2011,91.389779
4,Audi,A4,20.397,22.255,Passenger,23.99,1.8,150.0,102.6,68.2,178.0,2.998,16.4,27.0,10/8/2011,62.777639

# Explore the class variable

In [18]:
data_df['Model'].value_counts()

Neon          2
Integra       1
Cutlass       1
Sentra        1
Altima        1
             ..
Windstar      1
Expedition    1
Ranger        1
F-Series      1
S80           1
Name: Model, Length: 156, dtype: int64

# Declare feature vector and target variable

In [19]:
x=data_df.drop(['Model'], axis=1)

y =data_df['Model']

# Split data into separate training and test set

In [20]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.33,random_state=42)
print(x_train.shape, x_test.shape)

(105, 15) (52, 15)

# Feature Engineering

In [21]:
x_train.dtypes

Manufacturer            object
Sales_in_thousands     float64
__year_resale_value    float64
Vehicle_type            object
Price_in_thousands     float64
Engine_size            float64
Horsepower             float64
Wheelbase              float64
Width                  float64
Length                 float64
Curb_weight            float64
Fuel_capacity          float64
Fuel_efficiency        float64
Latest_Launch           object
Power_perf_factor      float64
dtype: object

# Encode categorical variables

In [22]:
x_train.head()

,Manufacturer,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor
149,Volkswagen,5.596,13.76,Passenger,17.500,2.0,115.0,98.9,68.3,163.3,2.762,14.6,26.0,4/1/2011,47.946841
27,Chevrolet,107.995,12.36,Passenger,18.890,3.4,180.0,110.5,73.0,200.0,3.389,17.0,27.0,6/18/2011,71.838039
86,Mercury,14.351,8.80,Passenger,16.240,2.0,125.0,106.5,69.1,184.8,2.769,15.0,28.0,12/19/2012,50.997748
118,Pontiac,51.645,13.79,Passenger,21.610,2.4,150.0,104.1,68.4,181.9,2.906,15.0,27.0,1/25/2012,62.015870
41,Dodge,16.767,15.51,Car,21.315,3.9,175.0,109.6,78.8,192.6,4.245,32.0,15.0,1/6/2012,71.135292

In [48]:
# pip install category-encoders

In [50]:
import category_encoders as ce
encoder = ce.OrdinalEncoder(cols=['Manufacturer','Sales_in_thousands','__year_resale_value','Vehicle_type','Price_in_thousands','Engine_size','Horsepower','Wheelbase','Width','Length','Curb_weight','Fuel_capacity','Fuel_efficiency','Latest_Launch','Power_perf_factor'])
encoder

OrdinalEncoder(cols=['Manufacturer', 'Sales_in_thousands',
                     '__year_resale_value', 'Vehicle_type',
                     'Price_in_thousands', 'Engine_size', 'Horsepower',
                     'Wheelbase', 'Width', 'Length', 'Curb_weight',
                     'Fuel_capacity', 'Fuel_efficiency', 'Latest_Launch',
                     'Power_perf_factor'])

In [51]:
x_train = encoder.fit_transform(x_train)
x_test = encoder.transform(x_test)

In [52]:
x_train.head()

,Manufacturer,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor
149,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
27,2,2,2,1,2,2,2,2,2,2,2,2,2,2,2
86,3,3,3,1,3,1,3,3,3,3,3,3,3,3,3
118,4,4,4,1,4,3,4,4,4,4,4,3,2,4,4
41,5,5,5,2,5,4,5,5,5,5,5,4,4,5,5

In [53]:
x_test.head()

,Manufacturer,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor
126,-1.0,-1.0,-1.0,1,-1.0,2.0,41.0,-1.0,-1.0,-1.0,-1.0,2.0,5.0,-1.0,-1.0
45,5.0,-1.0,19.0,2,-1.0,3.0,4.0,32.0,61.0,69.0,-1.0,23.0,10.0,-1.0,-1.0
133,19.0,-1.0,54.0,1,-1.0,24.0,-1.0,3.0,-1.0,87.0,47.0,-1.0,3.0,-1.0,-1.0
138,13.0,-1.0,-1.0,1,-1.0,8.0,11.0,19.0,17.0,-1.0,-1.0,27.0,1.0,9.0,-1.0
111,15.0,-1.0,24.0,1,-1.0,12.0,-1.0,-1.0,7.0,-1.0,-1.0,27.0,9.0,76.0,-1.0

# Decision Tree Classifier with criterion gini index

In [29]:
from sklearn.tree import DecisionTreeClassifier
clf_gini = DecisionTreeClassifier(criterion='gini', max_depth=3, random_state=0)
clf_gini.fit(x_train, y_train)

DecisionTreeClassifier(max_depth=3, random_state=0)

# Predict the Test set results with criterion gini index

In [32]:
y_pred_gini = clf_gini.predict(x_test)
y_pred_gini

array(['GTI', 'GTI', 'GTI', 'GTI', 'GTI', 'GTI', 'GTI', 'GTI', 'GTI',
       'GTI', 'GTI', 'GTI', 'GTI', 'GTI', 'GTI', 'GTI', 'GTI', 'GTI',
       'GTI', 'GTI', 'GTI', 'GTI', 'GTI', 'GTI', 'GTI', 'GTI', 'GTI',
       'GTI', 'GTI', 'GTI', 'GTI', 'GTI', 'GTI', 'GTI', 'GTI', 'GTI',
       'GTI', 'GTI', 'GTI', 'GTI', 'GTI', 'GTI', 'GTI', 'GTI', 'GTI',
       'GTI', 'GTI', 'GTI', 'GTI', 'GTI', 'GTI', 'GTI'], dtype=object)

# Check accuracy score with criterion gini index

In [33]:
from sklearn.metrics import accuracy_score
print('Model accuracy score with criterion gini index: {0:0.4f}'. format(accuracy_score(y_test, y_pred_gini)))

Model accuracy score with criterion gini index: 0.0000

# Compare the train-set and test-set accuracy

In [37]:
y_pred_train_gini = clf_gini.predict(x_train)

y_pred_train_gini

array(['GTI', '300M', '3000GT', '3000GT', '3000GT', '3000GT', '300M',
       '3000GT', '3000GT', '3000GT', '3000GT', '3000GT', '3000GT',
       '3000GT', '3000GT', '3000GT', '3000GT', '3000GT', '3000GT',
       '3000GT', '3000GT', '3000GT', '3000GT', '3000GT', '3000GT',
       '3000GT', '3000GT', '3000GT', '3000GT', '3000GT', '3000GT',
       '3000GT', '3000GT', '3000GT', '3000GT', '300M', '3000GT', '3000GT',
       '3000GT', '3000GT', '3000GT', '3000GT', '3000GT', '3000GT',
       '3000GT', '3000GT', 'Neon', '3000GT', '3000GT', '300M', '3000GT',
       '3000GT', '3000GT', '3000GT', 'Neon', '3000GT', '3000GT', '3000GT',
       '3000GT', '3000GT', '3000GT', '3000GT', '3000GT', '3000GT',
       '3000GT', '3000GT', '300M', '3000GT', '3000GT', '3000GT', '3000GT',
       '3000GT', '3000GT', '3000GT', '3000GT', '3000GT', '3000GT',
       '3000GT', '3000GT', '3000GT', '3000GT', '3000GT', '3000GT',
       '3000GT', 'Civic', '3000GT', '3000GT', '3000GT', '3000GT',
       '3000GT', '3000GT', '3000GT', '3000GT', '3000GT', '3000GT',
       '3000GT', '3000GT', '3000GT', '3000GT', '3000GT', '3000GT',
       '3000GT', '3000GT', '3000GT', '3000GT'], dtype=object)

In [38]:

print('Training-set accuracy score: {0:0.4f}'. format(accuracy_score(y_train, y_pred_train_gini)))

Training-set accuracy score: 0.0571

# Check for overfitting and underfitting

In [40]:
print('Training set score: {:.4f}'.format(clf_gini.score(x_train, y_train)))

print('Test set score: {:.4f}'.format(clf_gini.score(x_test, y_test)))

Training set score: 0.0571
Test set score: 0.0000

# Decision Tree Classifier with criterion entropy

In [42]:
clf_en = DecisionTreeClassifier(criterion='entropy', max_depth=3, random_state=0)
clf_en.fit(x_train, y_train)

DecisionTreeClassifier(criterion='entropy', max_depth=3, random_state=0)

# Predict the Test set results with criterion entropy

In [43]:
y_pred_en = clf_en.predict(x_test)

# Check accuracy score with criterion entropy

In [44]:
from sklearn.metrics import accuracy_score

print('Model accuracy score with criterion entropy: {0:0.4f}'. format(accuracy_score(y_test, y_pred_en)))

Model accuracy score with criterion entropy: 0.0000

# Compare the train-set and test-set accuracy

In [45]:
y_pred_train_en = clf_en.predict(x_train)

y_pred_train_en

array(['A4', 'A4', 'A4', 'A4', 'A4', 'A4', 'A4', 'A4', 'A4', 'A4',
       'Bonneville', 'Bonneville', 'Bonneville', 'Bonneville',
       'Bonneville', 'A4', 'Bonneville', 'Bonneville', 'Bonneville',
       'Bonneville', 'Bonneville', 'Bonneville', 'Bonneville', 'A4',
       'Bonneville', 'A4', 'LS400', 'LS400', 'LS400', 'LS400', 'LS400',
       'LS400', 'LS400', 'LS400', 'LS400', 'LS400', 'LS400', 'A6', 'A6',
       'A6', 'A6', 'A6', 'A6', 'A6', 'A6', 'LS400', 'Neon', 'Neon',
       'Accord', 'Neon', 'Accord', 'Neon', '3000GT', '4Runner', 'Neon',
       'Neon', '3000GT', '3000GT', 'Accord', 'Accord', '3000GT',
       '4Runner', 'Accord', 'Accord', '3000GT', 'Accord', '4Runner', 'A6',
       'Accord', '3000GT', '4Runner', 'A6', '4Runner', '4Runner',
       '3000GT', '3000GT', '4Runner', '3000GT', '4Runner', 'A6', 'Accord',
       'Neon', 'Neon', '3000GT', '4Runner', 'LS400', 'Neon', '3000GT',
       '4Runner', 'Accord', 'Neon', 'Neon', 'Accord', 'A6', 'A6',
       '3000GT', 'Neon', 'Neon', 'A6', '4Runner', '3000GT', 'Accord',
       '4Runner', '4Runner', 'Accord'], dtype=object)

In [46]:
print('Training-set accuracy score: {0:0.4f}'. format(accuracy_score(y_train, y_pred_train_en)))

Training-set accuracy score: 0.0857

# Check for overfitting and underfitting

In [47]:
print('Training set score: {:.4f}'.format(clf_en.score(x_train, y_train)))

print('Test set score: {:.4f}'.format(clf_en.score(x_test, y_test)))

Training set score: 0.0857
Test set score: 0.0000